.Booking, .Hero {
  background-image: url(public/images/vintage-frame-salon-tools-wooden-table-2-min1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.rdtPicker {
  background-color:rgb(30, 30, 30) !important;
  color: #020202 !important;
  border: none !important;
  border-radius: 8px;
  padding: 10px;
}

.rdtPicker .rdtTimeToggle,
.rdtPicker .rdtSwitch,
.rdtPicker td,
.rdtPicker th {
  color: #fff !important;
  background: none;
}

.rdtPicker .rdtActive,
.rdtPicker .rdtActive:hover {
  background-color: #b8a269 !important;
  border-radius: 4px;
  color: #000 !important;
}

.rdtPicker td.rdtToday:before {
  border-bottom-color: #b8a269 !important;
}
.scroll{
 color: #b8a269; 
}
@media screen and (min-width:768px) {
  .takwem{
    max-width: 750px;
  }
}
@media screen and (min-width:320px) {
  .max-w-\[100px\] {
    max-width: 350px;
}
}
@media screen and (max-width:912px) {
  .takwem{
    max-width: 912px;
  }
}
