
.HomePage{
    background-image: url(public/images/client-doing-hair-cut-2-min.webp);
     height: 85vh;
     width: 100%;
     object-fit: cover;
    background-repeat: no-repeat;
}
.image .Gold{
   color:  #b8a269; 
}
.image .lin{
    background-color: #b8a269;
}
.back{
background-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1));}
.butt .bot{
         background: #b8a269;
}

.phot .saeed{
    color: #b8a269;
}
@media screen and (max-width:425px) {
    .mockup{
    display: flex;
    flex-direction: column;
    width: 425px;

}
.h-full {
    height: 100%;
    width: 100%;
}

video.videos{
display: flex;
justify-content: center;
    width: 660px;
height: max-content;

}
.HomePage{
    padding: 12px;
}
.HomePage .saeed {
 font-size: 60px;
}
.HomePage .fontssaed {
 font-size: 20px;
}

.secondphoto{
    height: 250px;
}
.intruduse{
    width: 355px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.w-\[600px\] {
    width: 400px;
}
    .mockup p{
      transform: rotate(90deg);
    }
    .maxen .store{
         transform: rotate(0deg);
    }
    .maxen{
        width: 355px;
    }
    .Saed p{
    font-size: 50px;
    }
    .mockup-phone{
        width: 375px;
    }

}

@media screen and (max-width:375px) {
     .mockup{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    /* padding-left: 5px; */
}   
.Saed p{
    font-size: 45px;
}
    .mockup{
    display: flex;
    flex-direction: column;
    width: 400px;

}
.h-full {
    height: 100%;
    width: 100%;
}

video.videos{
display: flex;
justify-content: center;
width: 660px;
height: max-content;

}
.HomePage{
    padding: 12px;
}

.secondphoto{
    height: 250px;
}
.intruduse{
    width: 350px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.w-\[600px\] {
    width: 400px;
}
}
@media screen and (max-width:425px) {
    .intruduse{
    max-width: 380px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.phot .saeed{
 font-size: 40px;
}
.phot .fontssaed{
    font-size: 17px;
} 
.intruduse .shshop{
    width: 380px;
}
}

@media screen and (max-width:768px) {
  .intruduse{
    padding-top: 20px;
    padding-bottom: 10px;
}
.store{
    font-size: 20px;
    padding: 5px;
}
.phot{
    padding-right: 20%;
}
.saeed{
    font-size: 60px;
}
.text-7xl {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-7xl--line-height));
}
  .intruduse .shshop{
    width: 385px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}
video.videos{
display: flex;
justify-content: center;
    width: 660px;
height: max-content;

}
}
@media screen and (max-width:1024px) {
.tazbet{
width: 96%;
}  
}
@media screen and (min-width: 2560px) {
  .HomePage {
  background-image: url("public/images/client-doing-hair-cut-2-min.webp");
  height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  }
}
@media screen and (max-width: 363px) {
    .intruduse .int{
        padding-left: 20px;
    }
    .intruduse .shshop{
        width: 100%; 
        padding: 3%; 
        box-sizing: border-box; 
    }
    .maxen .store{
        font-size: 21px;
        width: 100%; 
        padding-right: 5px;
    }
}
@media screen and (max-width:320px) {
    .intruduse {
      width: 320px;  
    }
    .intruduse .int{
        padding-left: 10px;
    }
    .maxen{
        max-width: 320px;
        padding: 10px;
    }
    .mockup{
    display: flex;
    flex-direction: column;
    width: 320px;
    }
        .mockup-phone{
        width: 315px;
    }
    video.videos{
display: flex;
justify-content: center;
width: 660px;
height: auto ;
    }
}
@media screen and (max-width:375px) {
    .shshop {
        font-size: 15px;
        padding-left: 10px;
        padding-right: 55px;

    }
}
@media screen and (max-width:390px) {
    .mockup{
        padding-right: 15px;
    }
}