
.HomePage{
    background-image: url(src/assets/images/client-doing-hair-cut-2-min.jpg);
     height: 85vh;
     width: auto;
     object-fit: cover;
    background-repeat: no-repeat;

}
.image .Gold{
   color:  #b8a269; 
}
.image .lin{
    background-color: #b8a269;
}
.back{
background-image: linear-gradient(to bottom, rgba(26, 26, 26, 1), rgba(26, 26, 26, 1));}
.butt .bot{
         background: #b8a269;
}

.phot .saeed{
    color: #b8a269;
}
@media screen and (max-width:425px) {
    .mockup{
    display: flex;
    flex-direction: column;
    width: 400px;

}
.h-full {
    height: 100%;
    width: 100%;
}

video.videos{
display: flex;
justify-content: center;
    width: 660px;
height: max-content;

}
.HomePage{
    padding: 12px;
}
.HomePage .saeed {
 font-size: 60px;
}
.HomePage .fontssaed {
 font-size: 20px;
}

.secondphoto{
    height: 250px;
}
.intruduse{
    width: 355px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.w-\[600px\] {
    width: 400px;
}
    .mockup p{
      transform: rotate(90deg);
    }
    .maxen .store{
         transform: rotate(0deg);
    }
    .maxen{
        width: 355px;
    }
    .Saed p{
    font-size: 50px;
    }
    .mockup-phone{
        width: 375px;
    }

}

@media screen and (max-width:375px) {
     .mockup{
    display: flex;
    flex-direction: column;
    max-width: 375px;
}   
.Saed p{
    font-size: 45px;
}
    .mockup{
    display: flex;
    flex-direction: column;
    width: 400px;

}
.h-full {
    height: 100%;
    width: 100%;
}

video.videos{
display: flex;
justify-content: center;
    width: 660px;
height: max-content;

}
.HomePage{
    padding: 12px;
}

.secondphoto{
    height: 250px;
}
.intruduse{
    width: 350px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.w-\[600px\] {
    width: 400px;
}
}
@media screen and (max-width:425px) {
    .intruduse{
    max-width: 380px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.phot .saeed{
 font-size: 40px;
}
.phot .fontssaed{
    font-size: 17px;
} 
.butt{
    
}
.intruduse .shshop{
    width: 380px;
}
}

@media screen and (max-width:768px) {
  .intruduse{
    width: 585px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.phot{
    padding-right: 20%;
}
.saeed{
    font-size: 60px;
}

  .intruduse .shshop{
    width: 385px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-top: 20px;

}
}
@media screen and (max-width:1024px) {
.tazbet{
width: 90%;
}  
}