.OurBarbers{
    background-image: url(./public/images/man-barbershop-salon-doing-haircut-beard-trim1-min.webp);
     height: 85vh;
     width: auto;
     object-fit: cover;
     background-repeat: no-repeat;

}
@media screen and (max-width:425px ) {
.OurBarbers{
    background-image: url(./public/images/man-barbershop-salon-doing-haircut-beard-trim1-min.webp);
     height: 85vh;
     width: auto;
     object-fit: cover;
     background-position: 61%;
    background-repeat: no-repeat;

}    
}
@media screen and (max-width: 2560px) {
    .OurBarbers{
height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}    
    }
