.Prices{
        background-image: url(public/images/client-doing-hair-cut-2-min.webp);
     height: 85vh;
     width: auto;
     object-fit: cover;
    background-repeat: no-repeat;
    
}
@media screen and (max-width:425px) {
    .Prices{
     background-image: url(public/images/client-doing-hair-cut-2-min.webp);
     height: 85vh;
     width: auto;
     object-fit: cover;
     background-repeat: no-repeat;
     background-position-y: 15%;
     background-position-x: 25%;
}
}
@media screen and (max-width:2560px) {
    .Prices{
height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

    }
}